@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* card */
.card-style {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: auto;
  aspect-ratio: 58/89;
  transition: 0.35s all ease-in;
  cursor: grab;
}
.normal-style {
  transform: rotateY(0deg);
}
.flipped-style {
  transform: rotateY(-180deg);
}
.normal-style:hover {
  transform: rotateY(0deg) translate3d(0, 0, -10px);
  box-shadow: 2px 2px 1px 1px black;
}
.card-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}
.frontface {
  transform: rotateY(180deg);
  z-index: 1;
}
.backface {
  transform: rotateY(0deg);
  z-index: 10;
}
